<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>File Timestamp - 0A2A.1</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>File Timestamp - 0A2A.1: 3rd-party SDK wrapper on-device, per documentation</string>
			</array>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>User Defaults - C56D.1</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>User Defaults - C56D.1: 3rd-party SDK wrapper on-device, per documentation</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
