<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fmeexname</key>
		<string>Jocelyn</string>
		<key>fmeexsign</key>
		<string>Retro gamer on a quest for high scores and nostalgia! 🎮</string>
		<key>fmeexheaad</key>
		<string>fmeheaad0</string>
		<key>fmeexposttext</key>
		<string>Who else remembers the thrill of the arcade? 🕹️💥 #Throwback</string>
		<key>fmeexpostimgs</key>
		<string>quiBao00*quiBao01</string>
		<key>fmeexpostTimer</key>
		<string>Nov.18  14:35:17</string>
		<key>fmeexuserID</key>
		<string>098907</string>
	</dict>
	<dict>
		<key>fmeexname</key>
		<string>Kaelin</string>
		<key>fmeexsign</key>
		<string>Living for pixelated adventures and arcade classics! 🕹️</string>
		<key>fmeexheaad</key>
		<string>fmeheaad1</string>
		<key>fmeexposttext</key>
		<string>Game on! Let’s relive the classics! 🎉 #ArcadeLife</string>
		<key>fmeexpostimgs</key>
		<string>quiBao10*quiBao11</string>
		<key>fmeexuserID</key>
		<string>098908</string>
		<key>fmeexpostTimer</key>
		<string>Nov.16  10:30:00</string>
	</dict>
	<dict>
		<key>fmeexname</key>
		<string>Larkin</string>
		<key>fmeexsign</key>
		<string>Proud member of the 8-bit generation! 🎉</string>
		<key>fmeexheaad</key>
		<string>fmeheaad2</string>
		<key>fmeexposttext</key>
		<string>Insert coin, start adventure! 💰🚀 #OldSchoolGaming</string>
		<key>fmeexpostimgs</key>
		<string>quiBao20*quiBao21</string>
		<key>fmeexuserID</key>
		<string>098909</string>
		<key>fmeexpostTimer</key>
		<string>Nov.14  14:23:00</string>
	</dict>
	<dict>
		<key>fmeexname</key>
		<string>Melina</string>
		<key>fmeexsign</key>
		<string>Insert coin for endless fun! 💾</string>
		<key>fmeexheaad</key>
		<string>fmeheaad3</string>
		<key>fmeexposttext</key>
		<string>Nostalgia hits different with pixelated heroes! 🌟 #RetroVibes</string>
		<key>fmeexpostimgs</key>
		<string>quiBao30*quiBao31</string>
		<key>fmeexuserID</key>
		<string>098910</string>
		<key>fmeexpostTimer</key>
		<string>Nov.12 18:29:03</string>
	</dict>
	<dict>
		<key>fmeexname</key>
		<string>Niamh</string>
		<key>fmeexsign</key>
		<string>Chasing my childhood dreams, one game at a time! 👾</string>
		<key>fmeexheaad</key>
		<string>fmeheaad4</string>
		<key>fmeexposttext</key>
		<string>Back to the golden age of gaming! 🕹️👾 #ClassicGames</string>
		<key>fmeexpostimgs</key>
		<string>quiBao40*quiBao41*quiBao42</string>
		<key>fmeexuserID</key>
		<string>098911</string>
		<key>fmeexpostTimer</key>
		<string>Nov.11 21:23:03</string>
	</dict>
	<dict>
		<key>fmeexname</key>
		<string>Jareth</string>
		<key>fmeexsign</key>
		<string>Arcade warrior with a passion for retro challenges! 🔥</string>
		<key>fmeexheaad</key>
		<string>fmeheaad5</string>
		<key>fmeexposttext</key>
		<string>Who needs 3D when you have 8-bit magic? ✨ #VintageArcade</string>
		<key>fmeexpostimgs</key>
		<string>quiBao50*quiBao51</string>
		<key>fmeexuserID</key>
		<string>098912</string>
		<key>fmeexpostTimer</key>
		<string>Nov.10 23:12:13</string>
	</dict>
	<dict>
		<key>fmeexname</key>
		<string>Kaida</string>
		<key>fmeexsign</key>
		<string>Let’s relive the glory days of gaming! 🌟</string>
		<key>fmeexheaad</key>
		<string>fmeheaad6</string>
		<key>fmeexposttext</key>
		<string>Let’s relive the glory days of gaming! 🌟</string>
		<key>fmeexpostimgs</key>
		<string>quiBao60*quiBao61*quiBao61</string>
		<key>fmeexuserID</key>
		<string>098913</string>
		<key>fmeexpostTimer</key>
		<string>Nov.08 08:12:27</string>
	</dict>
	<dict>
		<key>fmeexname</key>
		<string>Liora</string>
		<key>fmeexsign</key>
		<string>Gaming through the pixelated past! 🚀</string>
		<key>fmeexheaad</key>
		<string>fmeheaad7</string>
		<key>fmeexposttext</key>
		<string>Dusting off the joystick for some retro fun! 🔥 #ArcadeNostalgia</string>
		<key>fmeexpostimgs</key>
		<string>quiBao70*quiBao71</string>
		<key>fmeexuserID</key>
		<string>098914</string>
		<key>fmeexpostTimer</key>
		<string>Nov.04 15:26:20</string>
	</dict>
	<dict>
		<key>fmeexname</key>
		<string>Mavis</string>
		<key>fmeexsign</key>
		<string>Fighter, racer, and puzzle master—let’s play! 💥</string>
		<key>fmeexheaad</key>
		<string>fmeheaad8</string>
		<key>fmeexposttext</key>
		<string>Press start to begin the adventure! 🚀 #GameTime</string>
		<key>fmeexpostimgs</key>
		<string>quiBao80</string>
		<key>fmeexuserID</key>
		<string>098914</string>
		<key>fmeexpostTimer</key>
		<string>Nov.01 13:29:29</string>
	</dict>
</array>
</plist>
